<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <form action="/compose/<%=user%>" method="post">



  <div class="form-group">
    <label for="">Link:</label>
    <input type="text" name="link" value="">
    <label for="exampleFormControlTextarea1">Comment:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="blog"></textarea>
  </div>
  <button type="submit" class="btn btn-outline-success" name="button">Submit</button>
</form>
  </body>
</html>
